ngb-progressbar {
    margin-top: 5rem;
}

.page-header {
    height: auto;

    .brand {
        img {
            max-width: 140px;
        }
    }

    .headerBtn {
        margin: 60px 0 42px;
        a {
            background: linear-gradient( 90deg, #1c7caf, #28beb7);
        }
    }
    
    .phoneSection {
        position: absolute;
        right: 32px;
        bottom: 0;
        img {
            max-width: none;
            width: 800px;
        }
    }
}